<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成用户</title>
</head>
<body>
<div style="margin:40px auto; width:60%;">
<form action="/user/save" role="form" id="registerForm" method="post">
    <!--每一行-->
    <div>
        <div>
            <label for="Email">邮箱</label>
        </div>
        <div>
            <input type="email" id="email" name="email" value="" placeholder="请输入邮箱地址" required/>
        </div>
    </div>
    <div>
        <div>
            <label for="mobile">手机号码</label>
        </div>
        <div>
            <input type="tel" id="mobile" name="mobile" value="" placeholder="请输入手机号码" required
                   pattern="^(0|86|17951)?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}"/>
        </div>
    </div>
    <div>
        <div>
            <label for="username">登录名称</label>
        </div>
        <div>
            <input placeholder="请输入登录用户名" type="text" data-val="true"
                   pattern="([a-zA-Z0-9_]{4,20})" required id="username" name="username" value=""/>
            <span>登录用户名长度4-20个字符，包含字母、数字、下划线</span>
        </div>
    </div>
    <div>
        <div>
            <label for="name">名称</label>
        </div>
        <div>
            <input placeholder="请输入全称" type="text" pattern="(?!.*[@:：\s]).*[^._])"
                   id="name" name="name" required value=""/>
            <span>显示名称长度2-20，不可包含@,空格，结尾不能是下划线_</span>
        </div>
    </div>
    <div>
        <div>
            <label for="alias">显示名称</label>
        </div>
        <div>
            <input placeholder="简称或昵称" type="text" pattern="(?!.*[@:：\s]).*[^._])"
                   id="alias" name="alias" required value=""/>
            <span>显示名称长度2-10，不可包含@,空格，结尾不能是下划线_</span>
        </div>
    </div>
    <div>
        <label >角色</label><br/>
        <input type="checkbox" name="role" value="2" />客服<br/>
        <input type="checkbox" name="role" value="3" />财务
    </div>
    <div>
        <div>
            <label for="password">密码</label>
        </div>
        <div>
            <!-- 复杂密码 pattern="(.*(?=.{8,30})(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*? ]).*)" -->
            <input placeholder="请输入密码" type="password" required
                   pattern="(.*(?=.{6,30})(?=.*\d).*)"
                   id="password" name="password" onchange="checkPasswords()"/>
            <span>长度要求8-30位，密码必须包含大小字母、数字和特殊字符的组合</span>
        </div>
    </div>
    <div>
        <div>
            <label for="password2">确认密码</label>
        </div>
        <div>
            <input placeholder="请输入确认密码" type="password" data-val="true" id="password2" name="password2"
                   onchange="checkPasswords()"/>
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>

    <div style="height: 30px;"></div>
    <!--注册按钮-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <span class="col-sm-12 ajax-error"></span>
            <button id="submitBtn" type="submit" class="btn ladda-button center-block cnblogs-btn-blue"
                    data-style="zoom-in"><span class="ladda-label">注册</span></button>
        </div>
    </div>
</form>
</div>
</body>
<script type="application/javascript">

    function checkPasswords() {
        var pass1
            = document.getElementById("password");
        var pass2
            = document.getElementById("password2");

        if (pass1.value != pass2.value) {
            pass1.setCustomValidity("两次输入的密码不匹配");
        } else {
            pass1.setCustomValidity("");
        }
    }
</script>
</html>