<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业列表</title>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-theme.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>
<header th:replace="common/header :: header"></header>
<div style="text-align: center; margin:150px 300px">
<div >
    <form th:action="@{/info/entList/}"  method="post">

        <input name="name" type="text" class="form-control" placeholder="搜索" aria-describedby="sizing-addon1">
<br>
        <button type="submit"  class="btn btn-primary">搜索</button>
    </form>
</div>
    <br>
    <table class="table table-bordered">
        <tr>
            <td >企业名称</td>
            <td >注册日期</td>
        </tr>
        <tr th:each="ent:${entlist}">
            <td >
                <a th:text="${ent.entname}" th:href="@{/info/getEnt/{entid}(entid=${ent.entid})}" alt="" />
            </td>
            <td th:text="${ent.registertime}">...</td>
        </tr>
    </table>
</div>
</body>
</html>