<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天软信用</title>
</head>
<body onload='document.f.username.focus();' style="background-color: #f2f6ff">
<h3>用户登录</h3>

<div style="width:300px; height:300px;text-align: center; margin:50px auto">
<form name='f' action='/login' method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit" value="Login"/></td>
        </tr>
        <!--<input name="_csrf" type="hidden" value="69712200-5446-4ba1-9aa9-288f01f23a9a" />-->
       <!-- <input name="${(_csrf.parameterName)!}" value="${(_csrf.token)!}" type="hidden">-->

    </table>
</form>
</div>
</body>
</html>